# Personal simulation results
outputs/
data/*
!data/example/
test/BEM/

# unfinished theory
derivation/*

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor specific files
.vscode/
.idea/

# Testing cache
.pytest_cache/

# Distribution and packaging files
build/
dist/
*.egg-info/

mqed/disorder/angle_disorder
mqed/disorder/NN_cache